@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  font-family: var(--font-sans);
  height: 100vh;
  width: 100vw;
  color: black;
  background-color: gray;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
